.features-list__item {
  max-width: 450px;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  @include font(700, 14px, 1.14);

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__description {
  @include font(400, 14px, 1.72);

  color: $secondary-text-color;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list__item {
    max-width: 354px;
  }

  .features-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .features-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }

  .features-list__item {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
