.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition: fill $time-function;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $accent-color;
  }

  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $accent-color;
  }
}

.menu-container {
  background-color: #ffffff;
}

.navigation-list__link {
  position: relative;
  display: inline-block;

  @include font(500, 18px, 1.17);

  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation-list__link--current {
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: -1px;

    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;

  @include font(500, 18px, 1.17);
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition: color $time-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: #757575;

  transition: fill $time-function;

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: $accent-color;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    position: relative;
  }

  .navigation {
    justify-content: space-between;

    & .logo {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .menu-container {
    display: none;
    z-index: 1;

    position: absolute;
    top: 100%;
    left: 0;
    width: 480px;
    width: 100%;

    padding-top: 60px;
    padding-bottom: 60px;

    &.is-open {
      display: block;
      border-top: 1px solid #ececec;
    }
  }

  .navigation-list__wrapper {
    margin-bottom: 60px;
    text-align: center;
  }

  .contact-list__wrapper {
    text-align: center;
  }

  .navigation-list__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .contact-list__link {
    justify-content: center;
  }

  .navigation-list__link--current {
    padding-bottom: 12px;
  }

  .contact-list__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navigation {
    & .logo {
      margin-right: 88px;
    }
  }

  .navigation-list {
    display: flex;
  }

  .contact-list__wrapper {
    margin-left: auto;
  }

  .navigation-list__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list__link {
    padding-top: 32px;
    padding-bottom: 32px;

    @include font(500, 14px, 1.14);
  }

  .contact-list__link {
    @include font(500, 12px, 1.17);
  }

  .contact-list__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    & .logo {
      margin-right: 93px;
    }
  }

  .contact-list {
    display: flex;
    align-items: center;
  }

  .contact-list__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .contact-list__link {
    @include font(500, 14px, 1.14);
  }
}
