@media screen and (min-width: 320px) and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work .title {
  margin-bottom: 50px;
}

.work-list__wrapper {
  position: relative;
}

.work-list__description {
  position: absolute;
  left: 0;
  bottom: 0;

  min-width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);

  @include font(700, 14px, 1.14);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
