.join {
  display: block;
  margin-bottom: 20px;

  @include font(700, 14px, 1.14);
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join {
    text-align: left;
  }
}
