.logo {
  font-family: $secondary-font;
  @include font(700, 26px, 1.19);
  

  &_light-theme {
    color: #000000;
  }

  &_dark-theme {
    color: #ffffff;
  }

  &_accent-color {
    color: $accent-color;
  }
}
