.modal-btn {
  display: block;
  margin: 0 auto;

  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  @include font(700, 16px, 1.88);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $accent-color;
}
