.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color $time-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;

  transition: fill $time-function;

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}
