body {
  font-family: $primary-font;
  color: $primary-text-color;
  letter-spacing: 0.03em;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}
